*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{

    color: #002765;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: #edeef0;
    padding: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-weight: 14px;
}
button{
    padding: 16px 50px;
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 12px;
    left: 8px;

}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(checked.png);
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0;
}